<!DOCTYPE html>
<html>

<body>
    <%- include('templates/header'); %>
    <%- include('templates/layout-header'); %>
    <igem-layout>
        <q-page class="text-justify">
            <q-parallax src="http://2018.igem.org/wiki/images/thumb/e/eb/T--Thessaloniki--lab--photo-3.jpeg/800px-T--Thessaloniki--lab--photo-3.jpeg">
                <h1 slot="loading">Attributions</h1>
                <h1>Attributions</h1>
            </q-parallax>
            <div class="flex flex-center q-mb-md q-mt-md" :class="rM('text-dark', 'text-light')">
                <div class="col-xs-12 col-sm-11 col-md-10 col-lg-8 q-pa-md">
                    <p>
                        Every aspect of our project was carried out exclusively from members of
                        iGEM Thessaloniki, unless otherwise stated.
                    </p>
                    <p>
                        We would like to thank those who helped this project come to fruition.
                        Listed below are the attributions of those that assisted us along the way.
                    </p>
                </div>
            </div>
            <div class="flex flex-center q-mb-md q-mt-md" :class="rM('text-dark', 'text-light')">
                <div class="col-xs-12 col-sm-11 col-md-10 col-lg-8 q-pa-md">
                    <h3>Primary Instructors</h3>
                    <p>
                        <ul>
                            <li>
                                <b>Professor George Mosialos</b> (Department of Genetics,
                                Development and Molecular Biology, School of Biology, AUTh)
                            </li>
                            <li>
                                <b>Associate Professor Ioannis Vizirianakis</b> (Department of
                                Pharmacognosy/Pharmacology, School of Pharmacy, AUTh) for giving us
                                permission to work in their laboratory and for their valuable
                                advice on project related issues.
                            </li>
                        </ul>
                    </p>
                    <h3>Advisors</h3>
                    <p>
                        <ul>
                            <li>
                                <b>Androulla Miliotou</b>, (AUTh), for teaching us some basic
                                laboratory techniques (e.g. agarose gel electrophoresis, PCR
                                reaction, plating). She also provided us with the INVαF’ and C43
                                (DE3) E. Coli strains.
                            </li>
                            <li>
                                <b>Stefanos Tsiftsoglou</b>, PhD, for his advice on our
                                presentation and wiki structure.
                            </li>
                            <li>
                                <b>Maxim Gavriilidis</b>, (AUTh) for his advice on laboratory
                                procedures.
                            </li>
                            <li>
                                <b>Ilias Dimitriadis</b>, for his help on the sensitivity analysis
                                of our models.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="flex flex-center q-mb-md q-mt-md" :class="rM('text-dark', 'text-light')">
                <div class="col-xs-12 col-sm-11 col-md-10 col-lg-8 q-pa-md">
                    <h3>Lab & Project Development Support</h3>
                    <p>
                        <ul>
                            <li>
                                <b>Professor George Mosialos’ Lab</b>, for providing us with the
                                XL1-Blue <i>E. coli</i> strains.
                            </li>
                            <li>
                                <b>Professor Christos Panagiotidis</b> (Department of
                                Pharmacognosy/Pharmacology, School of Pharmacy, AUTh) for giving us
                                permission to use his PCR machine.
                            </li>
                            <li>
                                <b>Lefkotha Papadopoulou</b>, Assistant Professor, for giving us
                                permission to work in her laboratory.
                            </li>
                            <li>
                                <b>Associate Professor Chlichlia Katerina</b> (MBG, DUTH) and <b>Associate
                                    Professor Aglaia Pappa</b> (MBG, DUTH), for giving us
                                permission to use her PerkinElmer EnSpire Multimode Plate Reader
                                for our InterLab measurements.
                            </li>
                            <li>
                                <b>Professor Howard Salis</b> (Penn State University), for his
                                advice on the design of our theophylline riboswitch.
                            </li>
                            <li>
                                <b>Thomas H. Segall-Shapiro</b> (Massachusetts Institute of
                                Technology), PhD, for his valuable input
                                on our project design and his advice on the flow cytometry
                                measurements.
                            </li>
                            <li>
                                <b>Stamatios Damalas</b> (University of Wageningen), for sharing
                                with us some of his protocols and his Metabrick platform.
                            </li>
                            <li>
                                <b>Esteban Martínez</b> , (Centro Nacional de Biotecnología-CSIC),
                                PhD, for sending us the Tn7 transposition strains and plasmids.
                            </li>
                            <li>
                                <b>iGEM Greece 2017</b>, for providing us with our first laboratory
                                materials.
                            </li>
                            <li>
                                <b>Kritikos Dimitrios</b> for providing us with the Rainbow
                                Calibration Particles RCP-30-5A for the calibration of our flow
                                cytometer.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="flex flex-center q-mb-md q-mt-md" :class="rM('text-dark', 'text-light')">
                <div class="col-xs-12 col-sm-11 col-md-10 col-lg-8 q-pa-md">
                    <h3>Model Support</h3>
                    <p>
                        <ul>

                            <li>
                                <b>Psomopoulos E.Fotis</b>, (EKETA) for his advice on simulation of
                                biological networks.
                            </li>
                            <li>
                                <b>Tefas Anastasios</b>, (AUTh), for his advice on parameters
                                optimization for our systems.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="flex flex-center q-mb-md q-mt-md" :class="rM('text-dark', 'text-light')">
                <div class="col-xs-12 col-sm-11 col-md-10 col-lg-8 q-pa-md">
                    <h3>Human Practices</h3>
                    <p>
                        <ul>
                            <li>
                                <b>Dr Jasna Puizina</b> (University of Split), <b>Dr Dragana Savic</b>
                                and
                                <b>Dr Velimir Mladenov</b> (University of Novi Sad),
                                <b>Dr Enisa Omanovic-Miklicanin</b>, <b>Dr Aleksandra Nikolic</b>
                                and <b>Dr Alen Mujcinovic</b>
                                (University of Sarajevo), <b>Dr Tijana Cvetic Antic</b> (University
                                of
                                Belgrade) <b>Dr Stavroula Mavrogeni</b> (University of Macedonia)
                                and
                                everyone else involved in the organization of the <b>“SynBalkans
                                    Tour”</b>
                            </li>
                            <li>
                                <b>iGEM Teams: ETH Zurich 2017, IONIS PARIS 2017, Exeter 2017,
                                    TUDelft
                                    2017</b>. We want to acknowledge these teams from last year’s
                                iGEM
                                Competition, as we showed their work as exemplary projects of
                                synthetic biology’s applications during our <b>“SynBalkans Tour”</b>.
                            </li>
                            <li>
                                <b>Dr Takis Vidalis</b>, Doctor of Law, for the evaluation of our
                                project
                                and our discussion about bioethics and legislation.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="flex flex-center q-mb-md q-mt-md" :class="rM('text-dark', 'text-light')">
                <div class="col-xs-12 col-sm-11 col-md-10 col-lg-8 q-pa-md">
                    <h3>General Support</h3>
                    <p>
                        <ul>
                            <li>
                                <b>“Just Print It”</b> and <b>Vasilis Somatidis</b> for creating
                                our logos
                            </li>
                            <li>
                                <b>Eleftherios Markidis</b> and <b>Panagiotis Platsikas</b> for
                                taking our Team Photos.
                            </li>
                            <li>
                                <b>Ioannis Giannoulas</b> and <b>Konstantinos Arzoumanidis</b> for
                                driving us for more than 2000 kilometers in the Balkan Peninsula.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="flex flex-center q-mb-md q-mt-md" :class="rM('text-dark', 'text-light')">
                <div class="col-xs-12 col-sm-11 col-md-10 col-lg-8 q-pa-md">
                    <h3>Wiki Libraries</h3>
                    <p>
                        <ul>
                            <li>
                                <a href="https://vuejs.org/">Vue.js</a>: For the awesome Javascript reactive template engine
                            </li>
                            <li>
                                <a href="https://quasar-framework.org/">Quasar Framework</a>: For the full featured and elegand UI toolkit
                            </li>
                            <li>
                                <a href="https://github.com/Khan/KaTeX">KateX</a>: For the easy-to-install LateX parser
                            </li>
                            <li>
                                <a href="https://github.com/apache/incubator-echarts">echarts</a>: For our complex graphs
                            </li>
                            <li>
                                <a href="https://plot.ly/">plotly</a>: For our simple graphs
                            </li>
                            <li>
                                <a href="https://leafletjs.com/">leafletjs</a>: For our maps in the “SynBalkans"
                            </li>
                            <li>
                                <a href="https://lodash.com/">lodash</a>: A powerful Javascript library
                            </li>
                            <li>
                                <a href="https://greensock.com/gsap">GSAP</a>: A powerful Javascript animation library
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </q-page>
    </igem-layout>
    <%- include('templates/layout-footer'); %>
    <script>
        iGEM.registerHook('loadHook', async function ([Vue, store]) {
            store.commit('setPage', 'attributions')
        })
    </script>
    <%- include('templates/footer'); %>
</body>

</html>