<!DOCTYPE html>
<html>

<body>
    <%- include('templates/header'); %>
    <%- include('templates/layout-header'); %>
    <igem-layout>
        <q-page class="text-justify">
            <q-parallax src="http://2018.igem.org/wiki/images/7/79/T--Thessaloniki--parts-vector.jpg">
                <h1 slot="loading">Composite Parts</h1>
                <h1>Composite Parts</h1>
            </q-parallax>
            <div class="flex flex-center q-mb-md q-mt-md" :class="rM('text-dark', 'text-light')">
                <div class="col-xs-12 col-sm-11 col-md-10 col-lg-8 q-pa-md">
                    <p>
                        BBa_K2839012 is our best composite part.
                    </p>
                    <div style="overflow-x:auto;">
                        <table class="simple-table text-center">
                            <tr>
                                <td>
                                    <b>BioBrick ID</b>
                                </td>
                                <td>
                                    <b>Description</b>
                                </td>
                                <td>
                                    <b>USE</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://parts.igem.org/Part:BBa_K2839012">BBa_K2839012</a>
                                </td>
                                <td>TALEsp1 Pupsp1 promoter with translational control</td>
                                <td>TALE Promoter Stabilization Inducible Expression</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://parts.igem.org/Part:BBa_K2839017">BBa_K2839017</a>
                                </td>
                                <td>12.1 Theophylline Riboswitch +sfGFP-luciferase fusion protein</td>
                                <td>Inducible Expression</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://parts.igem.org/Part:BBa_K2839006">BBa_K2839006</a>
                                </td>
                                <td>Theo27 theophylline riboswitch controlling fused sfGFP
                                    expression</td>
                                <td>Inducible Expression</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://parts.igem.org/Part:BBa_K2839000">BBa_K2839000</a>
                                </td>
                                <td>TALEsp1-Pupsp1 stabilized promoter</td>
                                <td>TALE Promoter Stabilization</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://parts.igem.org/Part:BBa_K2839004">BBa_K2839004</a>
                                </td>
                                <td>Talesp1-Psp1w1 stabilized promoter (B0030)</td>
                                <td>TALE Promoter Stabilization</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://parts.igem.org/Part:BBa_K2839005">BBa_K2839005</a>
                                </td>
                                <td>Talesp1-Psp1w1 stabilized promoter (B0032)</td>
                                <td>TALE Promoter Stabilization</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://parts.igem.org/Part:BBa_K2839014">BBa_K2839014</a>
                                </td>
                                <td>TALEsp2-Pupsp2 stabilized promoter</td>
                                <td>TALE Promoter Stabilization</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://parts.igem.org/Part:BBa_K2839008">BBa_K2839008</a>
                                </td>
                                <td>Insulated Psp1w1 promoter (B0030 RBS)</td>
                                <td>TALE Promoter Stabilization</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://parts.igem.org/Part:BBa_K2839007">BBa_K2839007</a>
                                </td>
                                <td>Insulated Psp1w1 promoter (B0032 rbs)</td>
                                <td>TALE Promoter Stabilization</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://parts.igem.org/Part:BBa_K2839016">BBa_K2839016</a>
                                </td>
                                <td>CRISPRi stabilized J23104 promoter</td>
                                <td>CRISPRi Promoter Stabilization </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://parts.igem.org/Part:BBa_K2839001">BBa_K2839001</a>
                                </td>
                                <td>pRha-sgRNA Cassette test construct </td>
                                <td>CRISPRi Promoter Stabilization </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://parts.igem.org/Part:BBa_K2839002">BBa_K2839002</a>
                                </td>
                                <td>12.1 theophylline riboswitch characterization device</td>
                                <td>Inducible Expression</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://parts.igem.org/Part:BBa_K2839009">BBa_K2839009</a>
                                </td>
                                <td>pRha-sgRNA Cassette test construct without reporter</td>
                                <td>CRISPRi Promoter Stabilization </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://parts.igem.org/Part:BBa_K2839010">BBa_K2839010</a>
                                </td>
                                <td>2.2 sfGFP</td>
                                <td>Characterization</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://parts.igem.org/Part:BBa_K2839011">BBa_K2839011</a>
                                </td>
                                <td>Insulative constitutive promoter driving sfGFP expression</td>
                                <td>Characterization</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://parts.igem.org/Part:BBa_K2839013">BBa_K2839013</a>
                                </td>
                                <td>Insulated J23114 promoter characterization device</td>
                                <td>Characterization</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://parts.igem.org/Part:BBa_K2839015">BBa_K2839015</a>
                                </td>
                                <td>Talesp1 stabilized AND gate mut</td>
                                <td>AND Gate</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://parts.igem.org/Part:BBa_K2839018">BBa_K2839018</a>
                                </td>
                                <td>insulated Prha driving sfGFP expression</td>
                                <td>Inducible Expression</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://parts.igem.org/Part:BBa_K2839003">BBa_K2839003</a>
                                </td>
                                <td>AND gate</td>
                                <td>AND Gate</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </q-page>
    </igem-layout>
    <%- include('templates/layout-footer'); %>
    <script>
        iGEM.registerHook('loadHook', function ([Vue, store]) {
            store.commit('setPage', 'composite')
        })
    </script>
    <%- include('templates/footer'); %>
</body>

</html>