<!DOCTYPE html>
<html>

<body>
    <%- include('templates/header'); %>
    <%- include('templates/layout-header'); %>
    <igem-layout>
        <q-page>
            <q-parallax src="http://2018.igem.org/wiki/images/thumb/e/eb/T--Thessaloniki--lab--photo-3.jpeg/800px-T--Thessaloniki--lab--photo-3.jpeg">
                <h1 slot="loading">Protocols</h1>
                <h1>Protocols</h1>
            </q-parallax>
            <div class="flex flex-center q-mb-md q-mt-md" :class="rM('text-dark', 'text-light')">
                <q-list separator class="col-xs-12 col-sm-11 col-md-10 col-lg-8 q-pa-md" striped
                    highlight no-border>
                    <q-collapsible label="Frozen Competent Cells" :dark="nightMode" color="red">
                        <div>
                            <h3>Frozen Competent Cells</h3>
                            <h4>Materials</h4>
                            <ul>
                                <li>Plate of cells to be made competent</li>
                                <li>LB Broth</li>
                                <li>CaCl2 solution 0,1M</li>
                                <li>100% glycerol</li>
                                <li>Ice</li>
                            </ul>
                            <h4>Method</h4>
                            <ol>
                                <li>Inoculate 1 colony from a freshly grown plate into 50ml broth</li>
                                <li>Incubate cells <u>overnight</u> at 37°C in a shaking incubator
                                    (200-250 rpm)</li>
                                <li>Transfer cells into 500 ml LB Broth in a 500ml E. flask</li>
                                <li>Incubate at 250-300 rpm and 37°C for approx. <u>2,5 hours</u>
                                    (or OD = 0.5). Centrifuge at 5000 rpm and 4°C for <u>15 min</u></li>
                                <li>Remove supernatant and resuspend pelleted cells in 250 ml 0,1 M
                                    CaCl2 solution</li>
                                <li>Incubate on ice for <u>20 min</u></li>
                                <li>Centrifuge at 5000 rpm for <u>15 min</u></li>
                                <li>Remove supernatant and resuspend pelleted cells in 43 ml 0,1 M
                                    CaCl2 solution</li>
                                <li>
                                    Incubate on ice for <u>2-12 hours</u><br>
                                    <span class="text-light-blue">
                                        <b>Note:</b> Maximum Incubation at 24 hours. Efficiency of
                                        Transformation is gradually reduced afterwards
                                    </span>
                                </li>
                                <li>Add 7ml 100% glycerol, mix well</li>
                                <li>Aliquot cells into prechilled 15ml tubes</li>
                                <li>Quick freeze in liquid nitrogen</li>
                                <li>Store (-80°C)</li>
                            </ol>
                        </div>
                    </q-collapsible>
                    <q-collapsible label="Fresh Competent Cells" :dark="nightMode">
                        <div>
                            <h3>Fresh Competent Cells</h3>
                            <h4>Materials</h4>
                            <ul>
                                <li>Plate of cells to be made competent</li>
                                <li>LB Broth</li>
                                <li>CaCl2 solution 0,1M</li>
                                <li>Ice</li>
                            </ul>
                            <h4>Method</h4>
                            <ol>
                                <li>Inoculate 1 colony from a freshly grown plate into 50ml LB
                                    Broth in a 500ml E. Flask</li>
                                <li>
                                    Incubate at 250-300 rpm and 37°C for approx. <u>3 hours</u> (or
                                    until OD600 is about 0,375)
                                    <br>
                                    <span class="text-light-blue">
                                        <b>Note:</b> Transformation Effeciency will decrease if
                                        cells are allowed to grow to a density greater than 0,4 OD
                                    </span>
                                </li>
                                <li>Centrifuge 3000 rpm and 4°C for <u>7 minutes</u>. No brake.</li>
                                <li>Remove supernatant and drain the tubes by keeping them inverted
                                    on an absorbent paper for <u>1 minute</u></li>
                                <li>Resuspend pelleted cells in 10ml ice-cold CaCl2 solution by
                                    pipetting gently up and down. Make sure that cells are fully
                                    resuspended. Keep on ice for <u>5 min</u></li>
                                <li>Centrifuge 3000 rpm and 4°C for <u>7 minutes</u>. No brake.</li>
                                <li>Remove supernatant and drain the tubes by keeping them inverted
                                    on an absorbent paper for <u>1 minute</u></li>
                                <li>
                                    Resuspend pelleted cells in 2ml ice-cold CaCl2 solution by
                                    pipetting gently up and down. Make sure that cells are fully
                                    resuspended. Keep on ice.
                                    <br>
                                    <span class="text-light-blue">
                                        <b>Note:</b> Increased transformation efficiency next 24h,
                                        decrease after the 24 hour mark.
                                    </span>
                                </li>
                            </ol>
                        </div>
                    </q-collapsible>
                    <q-collapsible label="Chemical Transformation" :dark="nightMode">
                        <div>
                            <h3>Chemical Transformation</h3>
                            <h4>Materials</h4>
                            <ul>
                                <li>Chemically competent cells</li>
                                <li>DNA to be transformed</li>
                                <li>LB agar with antibiotics</li>
                                <li>Ice</li>
                            </ul>
                            <h4>Method</h4>
                            <ol>
                                <li>
                                    Thaw 100 μl of competent cells on ice.
                                    <br>
                                    <span class="text-light-blue">
                                        <b>Note:</b> Thawing at room temp decreases efficiency
                                    </span>
                                </li>
                                <li>
                                    Add DNA:
                                    <ol>
                                        <li>For transformation of ligated products add 8μl of the
                                            ligation reaction mix</li>
                                        <li>For transformation of known plasmids add approx. 10-100
                                            μg DNA</li>
                                    </ol>
                                </li>
                                <li>
                                    Incubate cells on ice for <u>30min</u>.
                                    <br>
                                    <span class="text-light-blue">
                                        <b>Note:</b> Cutting this incub time short slightly
                                        decreases transformation efficiency.
                                    </span>
                                </li>
                                <li>
                                    Heat shock cells at 42°C for <u>90 sec</u>.
                                    <br>
                                    <span class="text-light-blue">
                                        <b>Note:</b> Optimal heat shock duration depends on the
                                        strain and the method used to make it competent.
                                    </span>
                                </li>
                                <li>Incubate on ice for <u>5 minutes</u></li>
                                <li>Heat shock cells at 42°C for <u>90 sec</u></li>
                                <li>Incubate on ice for <u>5 minutes</u></li>
                                <li>
                                    Add 1ml of SOC or LB Broth.
                                    <br>
                                    <span class="text-light-blue">
                                        <b>Note:</b> Using SOC increases transformation efficiency.
                                    </span>
                                </li>
                                <li>
                                    Incubate cells for <u>1 hour</u> at 37°C in a shaking incubator
                                    (200-250rpm).
                                    <br>
                                    <span class="text-light-blue">
                                        <b>Note:</b> Incubation without shaking will decrease
                                        transformation efficiency
                                    </span>
                                    <br>
                                    <span class="text-light-blue">
                                        <b>Note:</b> If using LB Broth, longer incubation up to 2
                                        hours can increase transformation Efficiency
                                    </span>
                                </li>
                                <li>Centrifuge at 8000rpm for <u>3 minutes</u></li>
                                <li>Remove 920μl of supernatant</li>
                                <li>Resuspend pelleted cells in the remaining LB broth or SOC.</li>
                                <li>Plate resuspended cells onto LB agar plates containing the
                                    appropriate antibiotic.</li>
                                <li>Let the plates dry in the incubator for approx. <u>30min</u>.</li>
                                <li>Flip upside down and incubate for <u>16-18 hours</u>.</li>
                            </ol>
                        </div>
                    </q-collapsible>
                    <q-collapsible label="Growing Overnight Cultures" :dark="nightMode">
                        <div>
                            <h3>Growing Overnight Cultures</h3>
                            <h4>Materials</h4>
                            <ul>
                                <li>5-10 ml LB broth</li>
                                <li>5-10 μl antibiotic</li>
                                <li>culture tubes</li>
                            </ul>
                            <h4>Method</h4>
                            <p>Overnight cultures are prepared under sterile conditions using a
                                Bunsen burner</p>
                            <ol>
                                <li>Add 5-10 ml ofLB media into a culture tubes.</li>
                                <li>Add 5-10 μl of appropriate antibiotic into the broth.</li>
                                <li>Using a loop, pick a single colony and inoculate the culture by
                                    dipping the loop into the LB broth.</li>
                                <li>Incubate overnight at 37°C shaking at 200-250 rpm.</li>
                            </ol>
                        </div>
                    </q-collapsible>
                    <q-collapsible label="Preparation of LB Broth, Agar, SOC and Glycerol Stocks"
                        :dark="nightMode">
                        <div>
                            <h3>LB Broth</h3>
                            <h4>Materials</h4>
                            <ul>
                                <li>20 g LB broth (powder)</li>
                                <li>1 Litre Purified Water</li>
                            </ul>
                            <h4>Method</h4>
                            <ol>
                                <li>Add 20g LB broth to 1 litre purified water</li>
                                <li>Autoclave</li>
                            </ol>

                            <h3>LB Agar</h3>
                            <h4>Materials</h4>
                            <ul>
                                <li>35 g LB Agar (powder)</li>
                                <li>1 Litre Purified Water</li>
                            </ul>
                            <h4>Method</h4>
                            <ol>
                                <li>Add 37g LB Agar to 1 litre purified water</li>
                                <li>Autoclave</li>
                            </ol>

                            <h3>SOC Medium</h3>
                            <p>We followed the <a href="https://www.qiagen.com/se/resources/faq?id=d3be05d0-ec02-4ced-aabe-dcd2a1061920&lang=en&Print=1">Quiagen
                                    protocol</a></p>
                            <h4>Materials</h4>
                            <ul>
                                <li>0.5% Yeast Extract</li>
                                <li>2% Tryptone</li>
                                <li>10 mM NaCl</li>
                                <li>2.5 mM KCl</li>
                                <li>10 mM MgCl2</li>
                                <li>10 mM MgSO4</li>
                                <li>20 mM Glucose*</li>
                            </ul>
                            <h4 class="text-light-blue">Notes</h4>
                            <ul class="text-light-blue">
                                <li>Add Glucose after autoclaving the solution with the remaining
                                    ingredients, and letting it cool down. Sterilize the final
                                    solution by passing it through a 0.2 µm filter.</li>
                                <li>SOC medium can be stored at room temperature and is stable for
                                    several years.</li>
                            </ul>

                            <h3>Glycerol Stocks</h3>
                            <h4>Materials</h4>
                            <ul>
                                <li>500µl glycerol (50%)</li>
                                <li>500µl overnight culture in LB</li>
                            </ul>
                            <h4>Method</h4>
                            <ol>
                                <li>Add 500µl glycerol (80%) to 1.5ml eppendorf tube</li>
                                <li>Add 500µl overnight culture in LB</li>
                                <li>Store at -80°C</li>
                            </ol>
                        </div>
                    </q-collapsible>
                    <q-collapsible label="PCR From Plasmid DNA Template" :dark="nightMode">
                        <div>
                            <h3>PCR From Plasmid DNA Template</h3>
                            <p>We followed the NEB PCR with hiFi Q5 master mix <a href="https://international.neb.com/protocols/2012/12/07/protocol-for-q5-high-fidelity-2x-master-mix-m0492">Protocol</a>
                                for our PCR reactions.</p>
                            <h4>Materials</h4>
                            <ul>
                                <li>2x Q5 High-Fidelity Master Mix</li>
                                <li>10μΜ Forward Primer</li>
                                <li>10μΜ Reverse Primer</li>
                                <li>Template DNA</li>
                                <li>Nuclease Free Water</li>
                            </ul>
                            <h5>For a 20 µL reaction:</h5>
                            <table class="text-center simple-table">
                                <tr>
                                    <td>Q5 High-Fidelity 2X Master Mix</td>
                                    <td>10 μl</td>
                                </tr>
                                <tr>
                                    <td>10 µM Forward Primer</td>
                                    <td>1 μl</td>
                                </tr>
                                <tr>
                                    <td>10 µM Reverse Primer</td>
                                    <td>1 μl</td>
                                </tr>
                                <tr>
                                    <td>Template DNA</td>
                                    <td>variable (1-5 ng)</td>
                                </tr>
                                <tr>
                                    <td>Nuclease-Free Water</td>
                                    <td>to 20 μl</td>
                                </tr>
                            </table>
                            <span class="text-light-blue">
                                <b>Note: </b>Reactions are set on ice
                            </span>
                            <h4>Thermocycling</h4>
                            <table class="text-center simple-table">
                                <tr>
                                    <td>Initial Denaturation</td>
                                    <td>95°C</td>
                                    <td>2 minutes</td>
                                </tr>
                                <tr>
                                    <td rowspan="3">25-35 cycles</td>
                                    <td>95°C (Denaturation)</td>
                                    <td>0.5-1 minute</td>
                                </tr>
                                <tr>
                                    <td>42-65°C (Annealing)</td>
                                    <td>0.5-1 minute</td>
                                </tr>
                                <tr>
                                    <td>72°C (Extension)</td>
                                    <td>1 min/kb</td>
                                </tr>
                                <tr>
                                    <td>Final Extension</td>
                                    <td>72°C</td>
                                    <td>5 minutes</td>
                                </tr>
                                <tr>
                                    <td>Hold</td>
                                    <td>4–10°C</td>
                                    <td>Indefinite</td>
                                </tr>
                            </table>
                            <span class="text-light-blue">
                                <b>Note: </b>We used the <a href="https://tmcalculator.neb.com/#!/main">NEB
                                    ™ Calculator</a> to determine the annealing temperature.
                            </span>
                        </div>
                    </q-collapsible>
                    <q-collapsible label="Colony PCR" :dark="nightMode">
                        <div>
                            <h3>Colony PCR</h3>
                            <p>
                                We followed the Promega GoTaq® DNA Polymeras <a href="https://worldwide.promega.com/-/media/files/resources/protocols/product-information-sheets/g/gotaq-dna-polymerase-m300.pdf?la=en">Protocol</a>
                                for our Colony PCR reactions.
                            </p>
                            <h4>Materials</h4>
                            <ul>
                                <li>5X Green or Colorless GoTaq® Reaction Buffer1</li>
                                <li>GoTaq® DNA Polymerase </li>
                                <li>PCR Nucleotide Mix</li>
                                <li>Forward Primer</li>
                                <li>Reverse Primer</li>
                                <li>Template DNA</li>
                                <li>Nuclease Free Water</li>
                            </ul>
                            <h5>For a 50 μl PCR Reaction:</h5>
                            <table class="text-center simple-table">
                                <tr>
                                    <td>5X Green or Colorless GoTaq® Reaction Buffer1 </td>
                                    <td>10 μl</td>
                                </tr>
                                <tr>
                                    <td>PCR Nucleotide Mix, 10mM each</td>
                                    <td>1 μl</td>
                                </tr>
                                <tr>
                                    <td>Forward Primer</td>
                                    <td>1 μl</td>
                                </tr>
                                <tr>
                                    <td>Reverse Primer</td>
                                    <td>1 μl</td>
                                </tr>
                                <tr>
                                    <td>GoTaq® DNA Polymerase (5u/µl)</td>
                                    <td>0,25 μl</td>
                                </tr>
                                <tr>
                                    <td>template DNA</td>
                                    <td>variable (1-5 ng)</td>
                                </tr>
                                <tr>
                                    <td>Nuclease-Free Water</td>
                                    <td>to 50 μl</td>
                                </tr>
                            </table>
                            <h4>Method</h4>
                            <p>
                                We performed 10μl Colony PCR Reactions
                            </p>
                            <h4>Thermocycling</h4>
                            <table class="text-center simple-table">
                                <tr>
                                    <td>Initial Denaturation</td>
                                    <td>98°C</td>
                                    <td>30 seconds</td>
                                </tr>
                                <tr>
                                    <td rowspan="3">25-30 cycles</td>
                                    <td>98°C (Denaturation)</td>
                                    <td>10 seconds</td>
                                </tr>
                                <tr>
                                    <td>50–72°C (Annealing)</td>
                                    <td>30 seconds</td>
                                </tr>
                                <tr>
                                    <td>72°C (Extension)</td>
                                    <td>30 seconds/kb</td>
                                </tr>
                                <tr>
                                    <td>Final Extension</td>
                                    <td>72°C</td>
                                    <td>2 minutes</td>
                                </tr>
                                <tr>
                                    <td>Hold</td>
                                    <td>4–10°C</td>
                                    <td>Indefinite</td>
                                </tr>
                            </table>
                        </div>
                        <p class="text-light-blue">
                            <b>Notes:</b> Perform PCR using your standard parameters
                            <ul class="text-light-blue">
                                <li>Reactions are set on ice</li>
                                <li>Reactions are placed in a thermal cycler that has been
                                    preheated to 95°C</li>
                                <li>The thermal cycling protocol has an initial denaturation step
                                    where samples are heated at 95°C for 2 minutes to ensure that
                                    the target</li>
                            </ul>
                        </p>
                    </q-collapsible>
                    <q-collapsible label="Agarose Gel Electrophoresis" :dark="nightMode">
                        <div>
                            <h3>Agarose Gel Electrophoresis</h3>
                            <h4>Equipment</h4>
                            <ul>
                                <li>Casting tray</li>
                                <li>Well combs</li>
                                <li>Voltage source</li>
                                <li>Gel box</li>
                                <li>UV light source</li>
                            </ul>
                            <h4>Reagents</h4>
                            <ul>
                                <li>TAE</li>
                                <li>Agarose</li>
                                <li>Ethidium bromide (stock concentration of 10 mg/mL)</li>
                            </ul>
                            <h4>Method</h4>
                            <h5>For a standard 1% agarose gel</h5>
                            <ol>
                                <li>Measure 1 g of agarose and mix agarose powder with 100 mL 1xTAE
                                    in a microwavable flask</li>
                                <li>Microwave for 1-3 min until the agarose is completely dissolved
                                    and let agarose solution cool down to about 50 °C</li>
                                <li>Add ethidium bromide (EtBr) to a final concentration of
                                    approximately 0.2-0.5 μg/mL. EtBr binds to the DNA and allows
                                    you to visualize the DNA under ultraviolet (UV) light</li>
                                <li>Pour the agarose into a gel tray with the well comb in place</li>
                                <li>Place newly poured gel at 4 °C for 10-15 mins OR let sit at
                                    room temperature for 20-30 mins, until it has completely
                                    solidified</li>
                                <li>Add loading buffer to each of your DNA samples</li>
                                <li>Once solidified, place the agarose gel into the gel box
                                    (electrophoresis unit). Fill gel box with 1xTAE (or TBE) until
                                    the gel is covered</li>
                                <li>Carefully load a molecular weight ladder into the first lane of
                                    the gel and your samples into the additional wells of the gel</li>
                                <li>Run the gel at 80-150 V until the dye line is approximately
                                    75-80% of the way down the gel. A typical run time is about 40
                                    minutes-1.5 hours, depending on the gel concentration and
                                    voltage</li>
                                <li>Turn OFF power, disconnect the electrodes from the power
                                    source, and then carefully remove the gel from the gel box</li>
                                <li>Using any device that has UV light, visualize your DNA
                                    fragments. The fragments of DNA are usually referred to as
                                    ‘bands’ due to their appearance on the gel</li>
                            </ol>
                        </div>
                    </q-collapsible>
                    <q-collapsible label="Restriction Digestion" :dark="nightMode">
                        <div>
                            <h3>Restriction Digestion</h3>
                            <ul>
                                <li><b>Restriction Enzyme:</b> <a href="https://enzymefinder.neb.com/#!#nebheader">NEB
                                        enzyme finder</a> used to determine the appropriate
                                    restriction enzymes</li>
                                <li><b>Reaction buffer:</b> <a href="https://nebcloner.neb.com/#!/redigest">NEB
                                        double digest finder</a> used to determine an appropriate
                                    buffer and protocol for the restriction enzymes used</li>
                            </ul>
                        </div>
                    </q-collapsible>
                    <q-collapsible label="Ligation" :dark="nightMode">
                        <div>
                            <h3>Ligation</h3>
                            <p>We followed the NEB Ligation <a href="https://international.neb.com/Protocols/0001/01/01/dna-ligation-with-t4-dna-ligase-m0202">Protocol</a>
                                with T4 DNA Ligase.</p>
                            <h4>Materials</h4>
                            <ul>
                                <li>Microcentrifuge Tubes</li>
                                <li>Ice</li>
                                <li>T4 DNA Ligase Buffer (10x)</li>
                                <li>T4 DNA Ligase</li>
                                <li>Vector DNA</li>
                                <li>Insert DNA</li>
                                <li>Nuclease Free Water</li>
                            </ul>
                            <h4>Method</h4>
                            <ol>
                                <li>
                                    Set up the following reaction in a microcentrifuge tube on ice
                                    <table class="text-center simple-table">
                                        <tr>
                                            <td><b>Component</b></td>
                                            <td><b>20 μl Reaction</b></td>
                                        </tr>
                                        <tr>
                                            <td>T4 DNA Ligase Buffer (10x)</td>
                                            <td>2 μl</td>
                                        </tr>
                                        <tr>
                                            <td>T4 DNA Ligase</td>
                                            <td>1 μl</td>
                                        </tr>
                                        <tr>
                                            <td>Vector DNA</td>
                                            <td>50 ng</td>
                                        </tr>
                                        <tr>
                                            <td>Insert DNA</td>
                                            <td>ng calculated using the <a href="http://nebiocalculator.neb.com/#!/ligation">NeBioCalculator</a></td>
                                        </tr>
                                        <tr>
                                            <td>Nuclease Free Water</td>
                                            <td>To 20 μl</td>
                                        </tr>
                                    </table>
                                </li>
                                <li>For cohesive (sticky) ends, incubate at 16°C overnight or room
                                    temperature for 10 minutes. For blunt ends or single base
                                    overhangs, incubate at 16°C overnight or room temperature for 2
                                    hours</li>
                                <li>Heat inactivate at 65°C for 10 minutes</li>
                                <li>Chill on ice and transform 8μl of the reaction into 100 μl
                                    competent cells</li>
                                <span class="text-light-blue">
                                    <b>Notes:</b>
                                </span>
                                <ul>
                                    <li>T4 DNA Ligase should be added last</li>
                                    <li>Ligation using a molar ratio of 1:3 vector to insert
                                        increases the reaction’s efficiency</li>
                                    <li>The T4 DNA Ligase Buffer should be thawed and resuspended
                                        at room temperature</li>
                                </ul>
                            </ol>
                        </div>
                    </q-collapsible>
                    <q-collapsible label="Golden Gate Assembly" :dark="nightMode">
                        <div>
                            <h3>Golden Gate Assembly</h3>
                            <p>
                                We followed the Golden Gate Assembly <a href="https://international.neb.com/protocols/2015/03/04/golden-gate-assembly-protocol-for-using-neb-golden-gate-assembly-mix-e1600">Protocol</a>
                                for Using NEB Golden Gate Assembly Mix
                            </p>
                            <h4>Materials</h4>
                            <ul>
                                <li>Destination Plasmid</li>
                                <li>Insert/Inserts</li>
                                <li>NEB Golden Gate Buffer (10x)</li>
                                <li>NEB Golden Gate Assembly Mix</li>
                                <li>Nuclease-free H2O</li>
                            </ul>
                            <h4>Method</h4>
                            <ol>
                                <li>
                                    Set up a 20 μl reaction according to the following table
                                    <table class="text-center simple-table">
                                        <tr>
                                            <td>
                                                <b>Reagent</b>
                                            </td>
                                            <td>
                                                <b>Assembly Reaction</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Destination Plasmid 75ng/μl</td>
                                            <td>1 μl</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Insert:
                                                <ul>
                                                    <li>If Precloned</li>
                                                    <li>If in amplicon Form</li>
                                                </ul>
                                            </td>
                                            <td>
                                                75-100 ng each plasmid
                                                2:1 molar ratio insert:vector
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>NEB Golden Gate Buffer (10x)</td>
                                            <td>2 μl</td>
                                        </tr>
                                        <tr>
                                            <td>NEB Golden Gate Assembly Mix</td>
                                            <td>1 μl</td>
                                        </tr>
                                        <tr>
                                            <td>Nuclease-free H2O</td>
                                            <td>to 20 μl</td>
                                        </tr>
                                    </table>
                                </li>
                            </ol>
                            <h4>Assembly Protocol</h4>
                            <table class="text-center simple-table">
                                <tr>
                                    <td>
                                        <b>Number Of Inserts</b>
                                    </td>
                                    <td>
                                        <b>Assembly Protocol</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1-4 inserts</td>
                                    <td>37°C for 60 minutes → 55°C for 5 minutes</td>
                                </tr>
                                <tr>
                                    <td>5-10 inserts</td>
                                    <td>(37°C for 1 minute → 16°C for 1 minute)x30 → 55°C for 5
                                        minutes</td>
                                </tr>
                            </table>
                        </div>
                    </q-collapsible>
                    <q-collapsible label="Minipreps, PCR Purification, Gel Extraction" :dark="nightMode">
                        <div>
                            <p>For our plasmid isolation we used the Macherey Νagel NucleoSpin®
                                Plasmid isolation Kit, unless otherwise stated.
                                For PCR Purification and Gel Extraction we used the Macherey Nagel
                                NucleoSpin® Gel and PCR Clean-up Kit, unless otherwise stated.</p>
                        </div>
                    </q-collapsible>
                    <q-collapsible label="dCas9 Toxicity Measurements" :dark="nightMode">
                        <div>
                            Content
                        </div>
                    </q-collapsible>
                    <q-collapsible label="Flow Cytometry Sample Preparation" :dark="nightMode">
                        <div>
                            <h3>Flow Cytometry Sample Preparation</h3>
                            <b>We followed the protocol from Adam Mayer et al [1].</b>
                            <p>All measurements shown were taken by cytometry of cells in mid-log
                                growth except when noted.</p>
                            <h5>Day1</h5>
                            <p>Glycerol stocks of strains containing the plasmids of interest were
                                streaked on LB + 1.5% Agar plates and grown overnight at 37 °C</p>
                            <h5>Day2</h5>
                            <p>Single colonies were inoculated into 1 ml LB + antibiotics in <b>2‐ml
                                    eppendorf tubes</b> and grown at 37 °C, <b>250 rpm</b>
                                overnight in a MultitronPro shaker incubator</p>
                            <h5>Day3</h5>
                            <p>
                                The overnight growths were diluted 1:200 into 1 ml LB + antibiotics
                                in <b>2‐ml eppendorf tubes</b> and grown at 37 °C, <b>250 rpm</b>.
                                <br>
                                After 2 hours the growths were diluted 1:500 into prewarmed LB +
                                antibiotics + inducer where necessary in <b>2‐ml eppendorf tubes</b>
                                and grown at 37 °C, <b>250 rpm</b> for 5 hours.
                                <br>
                                After growth, 20 μl of culture sample was diluted into 180 μl PBS +
                                200 μg/ml kanamycin to inhibit translation. The samples were stored
                                at 4°C for 1 hour and then measurements were performed using the
                                CyFlow Cube8 Sysmex Partec Flow Cytometer.
                            </p>
                            <small>[1] Meyer, A. J., Segall-Shapiro, T. H., & Voigt, C. A. (2018).
                                Marionette: E. coli containing 12 highly-optimized small molecule
                                sensors. BioRxiv. Retrieved from
                                http://biorxiv.org/content/early/2018/04/10/285866.abstract</small>
                        </div>
                    </q-collapsible>
                    <q-collapsible label="Plate Reader Sample Preparation for our Interlaboratory Collaboration"
                        :dark="nightMode">
                        <div>
                            <h3>Plate Reader Sample Preparation for our Interlaboratory
                                Collaboration</h3>
                            <p>We followed the iGEM 2018 InterLab Study <a href="http://2018.igem.org/wiki/images/0/09/2018_InterLab_Plate_Reader_Protocol.pdf">Protocol</a></p>
                        </div>
                    </q-collapsible>
                </q-list>
            </div>
            <q-parallax src="http://2018.igem.org/wiki/images/thumb/e/eb/T--Thessaloniki--lab--photo-3.jpeg/800px-T--Thessaloniki--lab--photo-3.jpeg">
                <h1 slot="loading">Clonning Strategy</h1>
                <h1>Cloning Strategy</h1>
            </q-parallax>
        </q-page>
    </igem-layout>
    <%- include('templates/layout-footer'); %>
    <script>
        iGEM.registerHook('loadHook', async function ([Vue, store]) {
            store.commit('setPage', 'experiments')
        })
    </script>
    <%- include('templates/footer'); %>
</body>

</html>