<!DOCTYPE html>
<html>
  <body>
        <%- include('templates/header'); %>
        <%- include('templates/layout-header'); %>
        <q-page padding>
            <div class="row justify-center">
                <div class="col-md-6 col-lg-4">
                    <img class="responsive-image" src="http://2018.igem.org/wiki/images/4/40/T--Thessaloniki--team-logo.png">
                </div>
            </div>
            <div class="row justify-center gutter-md">
                <div class="col-lg-9 col-md-12">
                    <div class="card-box-white round-border-20 q-pa-md">
                        <h4 class="q-mt-xs">About Our Project</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis illo quisquam odio enim, nam omnis! Aliquid ea possimus rerum accusamus et obcaecati iste, aut quod illum commodi odit? Pariatur, eum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis illo quisquam odio enim, nam omnis! Aliquid ea possimus rerum accusamus et obcaecati iste, aut quod illum commodi odit? Pariatur, eum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis illo quisquam odio enim, nam omnis! Aliquid ea possimus rerum accusamus et obcaecati iste, aut quod illum commodi odit? Pariatur, eum.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                        <div class="card-box-white round-border-20 q-pa-md">
                            <h4 class="q-mt-xs">About Our Project</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis illo quisquam odio enim, nam omnis! Aliquid ea possimus rerum accusamus et obcaecati iste, aut quod illum commodi odit? Pariatur, eum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis illo quisquam odio enim, nam omnis! Aliquid ea possimus rerum accusamus et obcaecati iste, aut quod illum commodi odit? Pariatur, eum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis illo quisquam odio enim, nam omnis! Aliquid ea possimus rerum accusamus et obcaecati iste, aut quod illum commodi odit? Pariatur, eum.</p>

                        </div>
                </div>
            </div>

        </q-page>
        <%- include('templates/layout-footer'); %>
        <script>
            iGEM.registerHook('loadHook', function () {
                console.log('loaded')
            })
        </script>
        <%- include('templates/footer'); %>
  </body>
</html>
