<!DOCTYPE html>
<html>

<body>
    <%- include('templates/header'); %>
    <%- include('templates/layout-header'); %>
    <igem-layout>
        <q-page padding>
            <div class="row justify-center">
                <div class="col-md-6 col-lg-4">
                    <galene-logo ref="logo"></galene-logo>
                </div>
            </div>
            <div class="row justify-center gutter-md" :class="rM('text-dark', 'text-light')">
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                    <q-timeline color="secondary" style="padding: 0 24px;" responsive>
                        <igem-timeline-entry icon="waves" color="blue" side="left">
                            <div>
                                Gene expression is unpredictable, noisy and prone to perturbations,
                                thus posing a challenge towards designing reliable and functional
                                systems. One of the most decisive factors affecting the
                                functionality of synthetic biological systems is gene copy number
                                variation, that gives rise to variability in gene expression.
                            </div>
                        </igem-timeline-entry>

                        <igem-timeline-entry icon="waves" color="blue" side="right">
                            <div>
                                We provide <b>Galene</b>, a genetic toolbox that enhances system
                                stability by disassociating gene expression from copy number and
                                provides translational control of protein production.
                            </div>
                        </igem-timeline-entry>

                        <igem-timeline-entry icon="waves" color="blue" side="left">
                            <div>
                                <p>
                                    The former is achieved by implementing a type I incoherent
                                    feed-forward loop network motif that consists of a regulatory
                                    element which compensates for changes in copy number, thus
                                    stabilizing the promoter. Through <a href="http://2018.igem.org/Team:Thessaloniki/Design">model-driven
                                        feedback</a>,
                                    stabilization by utilizing 2 distinct systems, each with its
                                    own
                                    advantages and appropriate uses. <b>CRISPR interference</b>, <b>TAL
                                        Effectors</b>.
                                </p>
                                <p>
                                    In addition, we <a href="http://2018.igem.org/Team:Thessaloniki/Design">designed</a>
                                    and <a href="http://2018.igem.org/Team:Thessaloniki/Model">simulated</a>
                                    a 3rd stabilization system, based on <b>transcriptional
                                        attenuator-interacting sRNAs</b>
                                </p>
                            </div>
                        </igem-timeline-entry>


                        <q-timeline-entry heading>
                            <iffl-main-one></iffl-main-one>
                        </q-timeline-entry>

                        <igem-timeline-entry icon="waves" color="blue" side="left">
                            <div>
                                Going one step further, we implemented a theophylline aptamer that
                                regulates translation and allows for the induction at the desired
                                expression level.
                            </div>
                        </igem-timeline-entry>

                        <igem-timeline-entry icon="waves" color="blue" side="right">
                            <div>
                                This year, our <a href="http://2018.igem.org/Team:Thessaloniki/Human_Practices">Human Practice</a> efforts were divided into 4 different
                                categories, each of them affecting our project and ourselves in a
                                different way. We focused on:
                                taking into serious consideration ethical issues regarding our
                                project,
                                reaching out to field experts,
                                interacting with people from the industry in order to investigate
                                various possibilities and options for our project,
                                and <a href="http://2018.igem.org/Team:Thessaloniki/Public_Engagement">communicating science</a>, synthetic biology and our project across
                                people of different ages, scientific and cultural backgrounds. As a
                                highlight of our engagement activities, we organized a series of
                                synthetic biology events in the Balkan Peninsula.
                            </div>
                            <template slot="side">
                                <h6>Synbalcans Map</h6>
                                <balcans-map></balcans-map>
                            </template>
                        </igem-timeline-entry>
                    </q-timeline>
                </div>
            </div>
        </q-page>
    </igem-layout>
    <%- include('templates/layout-footer'); %>
    <link rel="stylesheet" href="stylesheets/leaflet.css">
    <script src="javascripts/leaflet.js"></script>
    <script src="javascripts/tweenmax.js"></script>
    <!-- <link rel="stylesheet" href="http://2018.igem.org/wiki/index.php?title=Template:Thessaloniki/leaflet.css&action=raw&ctype=text/css">
    <script src="http://2018.igem.org/wiki/index.php?title=Template:Thessaloniki/leaflet.js&action=raw&ctype=text/javascript"></script>
    <script src="http://2018.igem.org/wiki/index.php?title=Template:Thessaloniki/tweenmax.js&action=raw&ctype=text/javascript"></script> -->
    <script>
        iGEM.registerHook('loadHook', async function () {
            await iGEM.loadComponent(iGEM.links.TimelineEntry)
            await iGEM.loadComponent(iGEM.links.GaleneLogo)
            await iGEM.loadComponent(iGEM.links.BalcansMap)
            await iGEM.loadComponent(iGEM.links.IFFLMainOne)
        })
        iGEM.registerHook('loadedHook', function ([self]) {
            self.$refs.logo.start()
        })
    </script>
    <%- include('templates/footer'); %>
</body>

</html>