<!DOCTYPE html>
<html>

<body>
    <%- include('templates/header'); %>
    <%- include('templates/layout-header'); %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/katex.css" />
    <igem-layout>
        <q-page class="text-justify q-pa-lg">
            <div class="row justify-center">
                <div class="col-md-6 col-lg-4">
                    <img v-if="!nightMode" class="responsive-image" src="http://2018.igem.org/wiki/images/0/0e/T--Thessaloniki--model-logo.svg">
                    <img v-if="nightMode" class="responsive-image" src="http://2018.igem.org/wiki/images/e/ec/T--Thessaloniki--model-logo-light.svg">
                </div>
            </div>
            <div class="row justify-center q-mb-md" :class="rM('text-dark', 'text-light')">
                <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8">
                    <div class="flex flex-center">
                        <h3>NAR</h3>
                    </div>
                    <div id="29412f2d-3ee1-49c2-aaac-098e6b790d53" class="plotly-graph-div"></div>
                    <div id="0be8faf7-c08f-4520-b510-53f5f5c507e6" class="plotly-graph-div"></div>
                </div>
            </div>
        </q-page>
    </igem-layout>
    <%- include('templates/layout-footer'); %>
    <script src="http://2018.igem.org/wiki/index.php?title=Template:Thessaloniki/tweenlite.js&action=raw&ctype=text/javascript"></script>
    <script src="/javascripts/plotly.js"></script>
    <script src="/javascripts/katex.js"></script>
    <script>
        iGEM.registerHook('loadHook', async function ([Vue, store]) {
            store.commit('setPage', 'model-nar')
        })
        iGEM.registerHook('loadedHook', function ([self]) {
            let graphs = [
            {
                    name: 'IFFL-NAR copy number',
                    id: '29412f2d-3ee1-49c2-aaac-098e6b790d53',
                    data: {
                        "frames": [],
                        "layout": {
                            "autosize": true,
                            "xaxis": {
                                "tickprefix": "",
                                "separatethousands": false,
                                "tickmode": "auto",
                                "title": "Copy number",
                                "tickangle": "auto",
                                "ticks": "inside",
                                "dtick": 1,
                                "range": [
                                    0,
                                    2
                                ],
                                "ticksuffix": "",
                                "mirror": "ticks",
                                "showline": true,
                                "nticks": 3,
                                "type": "log",
                                "autorange": true,
                                "exponentformat": "power"
                            },
                            "yaxis": {
                                "tickprefix": "",
                                "separatethousands": false,
                                "tickmode": "auto",
                                "title": "mature sfGFP concentration",
                                "tickangle": "auto",
                                "ticks": "inside",
                                "dtick": 1,
                                "showgrid": true,
                                "range": [
                                    1,
                                    3
                                ],
                                "ticksuffix": "",
                                "mirror": "ticks",
                                "showline": true,
                                "nticks": 5,
                                "type": "log",
                                "autorange": false,
                                "exponentformat": "power"
                            }
                        },
                        "data": [{
                                "name": "IFFL",
                                "ysrc": "YvonniXesfyngi:89:a13056",
                                "xsrc": "YvonniXesfyngi:89:89725e",
                                "mode": "lines",
                                "y": [
                                    "87.81",
                                    "100.81",
                                    "104.1143",
                                    "104.59"
                                ],
                                "x": [
                                    "1",
                                    "5",
                                    "30",
                                    "100"
                                ],
                                "line": {
                                    "color": "rgb(255, 0, 3)"
                                },
                                "type": "scatter",
                                "fill": "none"
                            },
                            {
                                "name": "NAR",
                                "ysrc": "YvonniXesfyngi:89:98c499",
                                "xsrc": "YvonniXesfyngi:89:89725e",
                                "mode": "lines",
                                "y": [
                                    "59.31",
                                    "144.31",
                                    "365.61",
                                    "673.84"
                                ],
                                "x": [
                                    "1",
                                    "5",
                                    "30",
                                    "100"
                                ],
                                "line": {
                                    "color": "rgb(11, 55, 251)"
                                },
                                "type": "scatter",
                                "fill": "none"
                            }
                        ]
                    }
                },
                {
                    name: 'iffl N=2 N=1',
                    id: '0be8faf7-c08f-4520-b510-53f5f5c507e6',
                    data: {
                        "frames": [],
                        "layout": {
                            "autosize": true,
                            "hovermode": "closest",
                            "xaxis": {
                                "title": "time(sec)",
                                "ticks": "inside",
                                "range": [
                                    0,
                                    15378.3616072819
                                ],
                                "mirror": "ticks",
                                "showline": true,
                                "type": "linear",
                                "autorange": false,
                                "exponentformat": "000"
                            },
                            "yaxis": {
                                "title": "mature sfGFP concentration",
                                "ticks": "inside",
                                "range": [
                                    4.715348776490117,
                                    1723.0396298141748
                                ],
                                "mirror": "ticks",
                                "showline": true,
                                "type": "linear",
                                "autorange": false
                            }
                        },
                        "data": [{
                                "name": "N=2",
                                "ysrc": "YvonniXesfyngi:78:eb1188",
                                "xsrc": "YvonniXesfyngi:78:ed19f7",
                                "mode": "lines",
                                "y": [
                                    "0",
                                    "1.26720961564253e-09",
                                    "5.46401500716666e-09",
                                    "1.10716228887297e-08",
                                    "1.98385326061764e-08",
                                    "2.95869136884629e-08",
                                    "4.22671683990932e-08",
                                    "5.82660919728158e-08",
                                    "9.73134780916942e-08",
                                    "1.50773254365996e-07",
                                    "2.21531616226733e-07",
                                    "3.12330212662765e-07",
                                    "5.86980400843464e-07",
                                    "9.91985000871622e-07",
                                    "1.55351459319875e-06",
                                    "2.29756594590405e-06",
                                    "3.25000515780185e-06",
                                    "8.22800441944807e-06",
                                    "1.67226318877394e-05",
                                    "2.96715806288443e-05",
                                    "4.80094059098847e-05",
                                    "7.26675560610378e-05",
                                    "0.000339723102797025",
                                    "0.000934025368664879",
                                    "0.00198363248588932",
                                    "0.00361436632325278",
                                    "0.00594982445014035",
                                    "0.00911138964012362",
                                    "0.0422235755827836",
                                    "0.114428793244391",
                                    "0.239081658909485",
                                    "0.428148243786757",
                                    "0.692252724892488",
                                    "1.04072617586719",
                                    "2.43152921208745",
                                    "4.58156804850055",
                                    "7.55255928806211",
                                    "11.3640774735996",
                                    "16.0021169339087",
                                    "21.4269730514307",
                                    "27.5801212016986",
                                    "40.4190380016254",
                                    "54.9435544254606",
                                    "70.6514326438606",
                                    "87.0689620246664",
                                    "103.773244834810",
                                    "120.403332523108",
                                    "136.664657503443",
                                    "165.130562922350",
                                    "190.606332990198",
                                    "212.661221089473",
                                    "231.206273158001",
                                    "246.366084521708",
                                    "258.406034824094",
                                    "267.672910866094",
                                    "278.760231208237",
                                    "283.769883822114",
                                    "284.385067853108",
                                    "281.893869975996",
                                    "277.331399997335",
                                    "271.486673616104",
                                    "264.874402701160",
                                    "254.254259135211",
                                    "243.283214726714",
                                    "232.389343195765",
                                    "221.877237473289",
                                    "211.912283361070",
                                    "202.549394662986",
                                    "187.061594210043",
                                    "173.589945985767",
                                    "162.010896524170",
                                    "152.166524299676",
                                    "143.842887910336",
                                    "136.817861700266",
                                    "127.014107066843",
                                    "119.858865828167",
                                    "114.650474222020",
                                    "110.858216495678",
                                    "108.097706463482",
                                    "105.494445675179",
                                    "103.825812733705",
                                    "102.749904275085",
                                    "102.055647418476",
                                    "101.609140864047",
                                    "101.218333276327",
                                    "101.023227964589",
                                    "100.918804433198",
                                    "100.863354549917",
                                    "100.836416269288",
                                    "100.810864937943",
                                    "100.811327881546",
                                    "100.813801896053",
                                    "100.814251248189",
                                    "100.813623276243"
                                ],
                                "x": [
                                    "0",
                                    "0.0316213781256206",
                                    "0.0632427562512413",
                                    "0.0867257202360173",
                                    "0.110208684220793",
                                    "0.129373004881376",
                                    "0.148537325541959",
                                    "0.167701646202543",
                                    "0.203702791266211",
                                    "0.239703936329879",
                                    "0.275705081393548",
                                    "0.311706226457216",
                                    "0.389050831968214",
                                    "0.466395437479211",
                                    "0.543740042990209",
                                    "0.621084648501206",
                                    "0.698429254012203",
                                    "0.954498573038163",
                                    "1.21056789206412",
                                    "1.46663721109008",
                                    "1.72270653011604",
                                    "1.97877584914200",
                                    "3.40390495983363",
                                    "4.82903407052526",
                                    "6.25416318121689",
                                    "7.67929229190853",
                                    "9.10442140260016",
                                    "10.5295505132918",
                                    "14.5822266612068",
                                    "18.6349028091218",
                                    "22.6875789570368",
                                    "26.7402551049519",
                                    "30.7929312528669",
                                    "34.8456074007819",
                                    "43.8192056722834",
                                    "52.7928039437849",
                                    "61.7664022152864",
                                    "70.7400004867878",
                                    "79.7135987582893",
                                    "88.6871970297908",
                                    "104.472691307083",
                                    "120.258185584375",
                                    "136.043679861668",
                                    "151.829174138960",
                                    "167.614668416252",
                                    "183.400162693545",
                                    "211.035851123187",
                                    "238.671539552830",
                                    "266.307227982472",
                                    "293.942916412114",
                                    "321.578604841757",
                                    "349.214293271399",
                                    "405.704286120227",
                                    "462.194278969055",
                                    "518.684271817883",
                                    "575.174264666711",
                                    "631.664257515539",
                                    "688.154250364367",
                                    "780.362074545596",
                                    "872.569898726826",
                                    "964.777722908055",
                                    "1056.98554708928",
                                    "1149.19337127051",
                                    "1241.40119545174",
                                    "1379.27941136634",
                                    "1517.15762728094",
                                    "1655.03584319554",
                                    "1792.91405911014",
                                    "1930.79227502474",
                                    "2068.67049093934",
                                    "2320.49191232946",
                                    "2572.31333371958",
                                    "2824.13475510969",
                                    "3075.95617649981",
                                    "3327.77759788993",
                                    "3579.59901928005",
                                    "4016.64249258451",
                                    "4453.68596588897",
                                    "4890.72943919344",
                                    "5327.77291249790",
                                    "5764.81638580236",
                                    "6316.96069079071",
                                    "6869.10499577905",
                                    "7421.24930076739",
                                    "7973.39360575574",
                                    "8525.53791074408",
                                    "9077.68221573243",
                                    "9910.67188134408",
                                    "10743.6615469557",
                                    "11576.6512125674",
                                    "12409.6408781791",
                                    "13242.6305437907",
                                    "14075.6202094024",
                                    "15378.3616072819"
                                ],
                                "line": {
                                    "color": "rgb(255, 0, 3)"
                                },
                                "type": "scatter",
                                "fill": "none"
                            },
                            {
                                "name": "N=1",
                                "ysrc": "YvonniXesfyngi:78:5be9c2",
                                "xsrc": "YvonniXesfyngi:78:ed19f7",
                                "mode": "lines",
                                "y": [
                                    "0",
                                    "2.53441881477476e-08",
                                    "1.09280246178124e-07",
                                    "2.21432437900716e-07",
                                    "3.96770658210702e-07",
                                    "5.91738375783502e-07",
                                    "8.45343536626281e-07",
                                    "1.16532198622526e-06",
                                    "1.94627158005505e-06",
                                    "3.01546943653019e-06",
                                    "4.43063887831655e-06",
                                    "6.24661191173818e-06",
                                    "1.17393817968490e-05",
                                    "1.98390127902196e-05",
                                    "3.10688287957158e-05",
                                    "4.59486612893867e-05",
                                    "6.49957095372899e-05",
                                    "0.000164305825527058",
                                    "0.000333644942765915",
                                    "0.000591654246898114",
                                    "0.000956907602303998",
                                    "0.00144791110799725",
                                    "0.00732379130779535",
                                    "0.0207986294624918",
                                    "0.0449399757512523",
                                    "0.0827397715819991",
                                    "0.137109700833669",
                                    "0.210877176220955",
                                    "0.550444474242272",
                                    "1.12746587370268",
                                    "1.99453805376351",
                                    "3.19771573959808",
                                    "4.77654072206703",
                                    "6.76429475629988",
                                    "12.7508723338518",
                                    "21.0767660073889",
                                    "31.8413733898444",
                                    "45.0621309575135",
                                    "60.6969323264566",
                                    "78.6606534629156",
                                    "115.555564986919",
                                    "158.511773036138",
                                    "206.648689304968",
                                    "259.077305773355",
                                    "314.938778620532",
                                    "373.420441790278",
                                    "479.891949174281",
                                    "588.597738394438",
                                    "696.695596559656",
                                    "801.996416315605",
                                    "902.861375080107",
                                    "998.102931496656",
                                    "1172.11575897923",
                                    "1316.32877621600",
                                    "1431.21158980338",
                                    "1519.05832774224",
                                    "1582.93588265149",
                                    "1626.18702159891",
                                    "1660.94742955574",
                                    "1662.65368442126",
                                    "1641.78886637283",
                                    "1605.89440790089",
                                    "1560.31505117735",
                                    "1508.93762170646",
                                    "1427.23125360750",
                                    "1344.38679895380",
                                    "1263.27196230398",
                                    "1185.40149440656",
                                    "1111.62323804531",
                                    "1042.31173057573",
                                    "927.351344394798",
                                    "826.346581196533",
                                    "737.887002051360",
                                    "660.833870328840",
                                    "594.022163278447",
                                    "536.125254636007",
                                    "453.470922186883",
                                    "389.229252271762",
                                    "339.461334131505",
                                    "300.954503218613",
                                    "271.131033844079",
                                    "242.813415858220",
                                    "222.305638617603",
                                    "207.522449192608",
                                    "196.874488624726",
                                    "189.182164256753",
                                    "183.620583088635",
                                    "177.981205458072",
                                    "174.533342417293",
                                    "172.447024468506",
                                    "171.189040189354",
                                    "170.424453227534",
                                    "169.952129370337",
                                    "169.527005861711"
                                ],
                                "x": [
                                    "0",
                                    "0.0316213781256206",
                                    "0.0632427562512413",
                                    "0.0867257202360173",
                                    "0.110208684220793",
                                    "0.129373004881376",
                                    "0.148537325541959",
                                    "0.167701646202543",
                                    "0.203702791266211",
                                    "0.239703936329879",
                                    "0.275705081393548",
                                    "0.311706226457216",
                                    "0.389050831968214",
                                    "0.466395437479211",
                                    "0.543740042990209",
                                    "0.621084648501206",
                                    "0.698429254012203",
                                    "0.954498573038163",
                                    "1.21056789206412",
                                    "1.46663721109008",
                                    "1.72270653011604",
                                    "1.97877584914200",
                                    "3.40390495983363",
                                    "4.82903407052526",
                                    "6.25416318121689",
                                    "7.67929229190853",
                                    "9.10442140260016",
                                    "10.5295505132918",
                                    "14.5822266612068",
                                    "18.6349028091218",
                                    "22.6875789570368",
                                    "26.7402551049519",
                                    "30.7929312528669",
                                    "34.8456074007819",
                                    "43.8192056722834",
                                    "52.7928039437849",
                                    "61.7664022152864",
                                    "70.7400004867878",
                                    "79.7135987582893",
                                    "88.6871970297908",
                                    "104.472691307083",
                                    "120.258185584375",
                                    "136.043679861668",
                                    "151.829174138960",
                                    "167.614668416252",
                                    "183.400162693545",
                                    "211.035851123187",
                                    "238.671539552830",
                                    "266.307227982472",
                                    "293.942916412114",
                                    "321.578604841757",
                                    "349.214293271399",
                                    "405.704286120227",
                                    "462.194278969055",
                                    "518.684271817883",
                                    "575.174264666711",
                                    "631.664257515539",
                                    "688.154250364367",
                                    "780.362074545596",
                                    "872.569898726826",
                                    "964.777722908055",
                                    "1056.98554708928",
                                    "1149.19337127051",
                                    "1241.40119545174",
                                    "1379.27941136634",
                                    "1517.15762728094",
                                    "1655.03584319554",
                                    "1792.91405911014",
                                    "1930.79227502474",
                                    "2068.67049093934",
                                    "2320.49191232946",
                                    "2572.31333371958",
                                    "2824.13475510969",
                                    "3075.95617649981",
                                    "3327.77759788993",
                                    "3579.59901928005",
                                    "4016.64249258451",
                                    "4453.68596588897",
                                    "4890.72943919344",
                                    "5327.77291249790",
                                    "5764.81638580236",
                                    "6316.96069079071",
                                    "6869.10499577905",
                                    "7421.24930076739",
                                    "7973.39360575574",
                                    "8525.53791074408",
                                    "9077.68221573243",
                                    "9910.67188134408",
                                    "10743.6615469557",
                                    "11576.6512125674",
                                    "12409.6408781791",
                                    "13242.6305437907",
                                    "14075.6202094024",
                                    "15378.3616072819"
                                ],
                                "line": {
                                    "dash": "solid",
                                    "color": "rgb(11, 55, 251)"
                                },
                                "type": "scatter",
                                "fill": "none"
                            }
                        ]
                    }
                },

            ]
            let instances = []
            let resizeDebounce = null

            function resizePlots() {
                instances.forEach((gd) => {
                    let bb = gd.getBoundingClientRect()
                    Plotly.relayout(gd, {
                        width: bb.width,
                        height: bb.height
                    })
                })
            }

            window.addEventListener('resize', function () {
                if (resizeDebounce) {
                    window.clearTimeout(resizeDebounce)
                }
                resizeDebounce = window.setTimeout(resizePlots, 100)
            })

            function initializeGraphs() {
                graphs.forEach((graph) => {
                    let gd = document.getElementById(graph.id)
                    instances.push(gd)
                    let color = "#fff"
                    if (self.nightMode) {
                        color = '#171617'
                    }
                    Plotly.plot(gd, {
                        data: graph.data.data,
                        layout: {
                            ...graph.data.layout,
                            autosize: true,
                            paper_bgcolor: color,
                            plot_bgcolor: color
                        },
                        frames: graph.data.frames,
                        responsive: true
                    });
                    setTimeout(resizePlots, 100)
                })
            }

            initializeGraphs()

            iGEM.registerHook('nightModeHook', ([mode]) => {
                instances.forEach((gd) => {
                    Plotly.purge(gd)
                })
                instances = []
                initializeGraphs()
            })

            let equatations = [
            ]

            iGEM.parseLatex(equatations)
        })
    </script>
    <%- include('templates/footer'); %>
</body>

</html>