<!DOCTYPE html>
<html>

<body>
    <%- include('templates/header'); %>
    <%- include('templates/layout-header'); %>
    <igem-layout>
        <q-page padding :class="rM('text-dark', 'text-light')">
            <q-timeline color="secondary" style="padding: 0 24px;" responsive>
                <q-timeline-entry heading>Notebook</q-timeline-entry>
                <q-timeline-entry heading>March 2018</q-timeline-entry>

                <q-timeline-entry title="Wet - Safety training" subtitle="March 11 2018" side="left" icon="colorize" color="red">
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </q-timeline-entry>

                <q-timeline-entry title="Dry - Start Basic Model" subtitle="April 16 2018" side="right" icon="memory" color="blue">
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </q-timeline-entry>

                <q-timeline-entry heading>July 2018</q-timeline-entry>

                <q-timeline-entry title="Milestone - First Part" subtitle="July 8 2018" side="left" icon="start" color="orange">
                    <div>
                        Created our first part
                    </div>
                </q-timeline-entry>

                <q-timeline-entry title="Wet - First Results" subtitle="March 11 2018" side="left" icon="colorize" color="red">
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </q-timeline-entry>

                <q-timeline-entry title="Dry - Start Model Enhancements" subtitle="April 16 2018" side="right" icon="memory" color="blue">
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </q-timeline-entry>
            </q-timeline>
        </q-page>
    </igem-layout>
    <%- include('templates/layout-footer'); %>
    <script>
        iGEM.registerHook('loadHook', function ([Vue, store]) {
            store.commit('setPage', 'notebook')
        })
    </script>
    <%- include('templates/footer'); %>
</body>

</html>