<!DOCTYPE html>
<html>

<body>
    <%- include('templates/header'); %>
    <%- include('templates/layout-header'); %>
    <igem-layout>
        <q-page class="text-justify">
            <q-parallax src="http://2018.igem.org/wiki/images/4/4e/T--Thessaloniki--safety-vector.jpg">
                <h1 slot="loading">Safety</h1>
                <h1>Safety</h1>
            </q-parallax>
            <div class="flex flex-center q-mb-md q-mt-md" :class="rM('text-dark', 'text-light')">
                <div class="col-xs-12 col-sm-11 col-md-10 col-lg-8 q-pa-md">
                    <p>
                        During our time in the lab (Biosafety Level 1), our primary concern and focus is following the
                        safety and security procedures and rules of the lab we work in, to ensure the safety of the lab
                        members, society and the environment.
                    </p>
                    <p>
                        We received Safety and Security training by various members of the labs we worked in. We were
                        taught proper lab practice, sterile techniques and physical biosecurity, along with proper
                        waste disposal and emergency procedures. We were instructed on the function and usage of the
                        various equipment in the lab like Biosafety Cabinets, centrifuges and more. Application of the
                        above in our daily lab practices will prevent any organisms to escape the lab.
                    </p>
                    <p>
                        We had conversations with professors about various Bioethical issues that might have arisen
                        from implications of different projects that were considered. The present project does not pose
                        any major bioethical questions.
                        Furthermore, early on in the process of deciding on a subject, we were taught about data safety
                        and regulations along with dual use research of concern.
                    </p>
                </div>
            </div>
            <div class="flex flex-center q-mb-md" :class="rM('text-dark', 'text-light')">
                <div class="col-xs-12 col-sm-10 col-md-9 col-lg-5">
                    <q-carousel class="text-white" color="white" autoplay quick-nav infinite>
                        <q-carousel-slide>
                            <img class="responsive-image" src="http://2018.igem.org/wiki/images/0/01/T--Thessaloniki--lab--photo-1.png"
                                alt="lab photo 1">
                        </q-carousel-slide>
                        <q-carousel-slide>
                            <img class="responsive-image" src="http://2018.igem.org/wiki/images/a/a7/T--Thessaloniki--lab--photo-2.png"
                                alt="lab photo 2">
                        </q-carousel-slide>
                    </q-carousel>
                </div>
            </div>
            <div class="flex flex-center q-mb-md" :class="rM('text-dark', 'text-light')">
                <div class="col-xs-12 col-sm-11 col-md-10 col-lg-8 q-pa-md">
                    <h4>Here, we present an overview of such practices:</h4>
                    <h4>
                        Potential Dangers Assessment:
                    </h4>
                    <p>
                        In our project, we primarily used E. coli DH5a cells as chassis for our constructs. Additional
                        strains of said organism that we used as chassis include: INVaF’, C43 (DE3), CC118 λ-pir, Xl-1
                        Blue. We, also, used Vibrio natriegens as part of the collaboration measurements with iGEM
                        Marburg 2018. All of the above organisms are Risk Group 1 according to the DSMZ. We believe
                        that under the application of proper microbial sterile techniques and waste disposal practices,
                        they pose no significant threat to us, the rest of the lab members, or the environment.
                        <br>
                        We did not use any part from a risk group 3 or higher organism.
                        <br>
                        We did not fill in any check-in forms since none of our parts met the requirements to do so.
                        When visualizing gels under UV light in the dark room that were meant to be extracted, we used
                        special equipment that protected us from the radiation.

                    </p>
                    <h4>
                        Potentially Harmful Chemicals:
                    </h4>
                    <p>
                        During our time in the lab we handled some potentially dangerous chemicals.
                        Those include:
                        <ul>
                            <li>
                                Ethidium Bromide (EtBr) is a potentially carcinogenic molecule that we used to stain
                                and visualise DNA in agarose gels. EtBr was stored in tightly sealed tube to avoid
                                spillage, wrapped in tin foil, at 4 degrees centigrade, and was used with caution and
                                care (gloves, lab coat, goggles).
                            </li>
                            <li>
                                Antibiotic powders including Chloramphenicol, Kanamycin, Ampicillin, Doxycycline (used
                                as an inducer) when weighed and dissolved in their respective solvent, were handled
                                with care and caution, along with the usage of goggles, masks, lab coat and gloves.
                            </li>
                        </ul>
                    </p>
                    <h4>
                        Waste disposal:
                    </h4>
                    <p>
                        All disposables that came in contact with bacteria were first rinsed with diluted bleach and
                        then disposed off in special containers. The process from there was handled by other lab
                        members.
                        <br>
                        Ethidium Bromide-containing solutions (TAE/TBE buffers after use, and agarose gels) were
                        disposed of in special 5-gallon pails that are then charcoal filtered.
                    </p>
                </div>
            </div>
        </q-page>
    </igem-layout>
    <%- include('templates/layout-footer'); %>
    <script>
        iGEM.registerHook('loadHook', function ([Vue, store]) {
            store.commit('setPage', 'safety')
        })
    </script>
    <%- include('templates/footer'); %>
</body>

</html>