<!DOCTYPE html>
<html>

<body>
    <style>
        .member-card {
            width: 200px;
            height: 300px;
        }

        .member-card-image {
            width: 200px;
            height: auto;
        }

        .member-card-modal-image {
            width: 100%;
            height: auto;
        }
    </style>
    <%- include('templates/header'); %>
    <%- include('templates/layout-header'); %>
    <igem-layout>
        <q-page padding>
            <div class="row justify-center">
                <div class="col-md-6 col-lg-4">
                    <img v-if="!nightMode" class="responsive-image" src="http://2018.igem.org/wiki/images/1/1e/T--Thessaloniki--logo-dark.svg">
                    <img v-if="nightMode" class="responsive-image" src="http://2018.igem.org/wiki/images/e/e5/T--Thessaloniki--logo-light.svg">
                </div>
            </div>
            <div class="row justify-center">
                <h4 :class="rM('text-dark', 'text-light')">Meet The Team</h4>
            </div>
            <div class="row justify-center">
                <q-carousel class="col-md-6" arrows infinite quick-nav color="white">
                    <q-carousel-slide>
                        <img class="responsive-image" src="http://2018.igem.org/wiki/images/thumb/1/1c/T--Thessaloniki--team-photo-1.jpeg/800px-T--Thessaloniki--team-photo-1.jpeg"
                            alt="team photo">
                    </q-carousel-slide>
                </q-carousel>
            </div>
            <div class="row justify-center">
                <h4 :class="rM('text-dark', 'text-light')">Team Members</h4>
            </div>
            <div class="row justify-center">
                <div class="col-xl-7 col-md-9">
                    <div class="row justify-center">
                        <member-card v-for="member in members" :key="member.fullname" :member="member">
                        </member-card>
                    </div>
                </div>
            </div>
            <div class="flex flex-center q-mb-md q-mt-md" :class="rM('text-dark', 'text-light')">
                <div class="col-xs-12 col-sm-11 col-md-10 col-lg-8 q-pa-md">
                    <h3>Primary Investigators</h3>
                    <p>
                        <ul>
                            <li>
                                <b>Professor George Mosialos</b> (Department of Genetics,
                                Development and Molecular Biology, School of Biology, AUTh)
                            </li>
                            <li>
                                <b>Associate Professor Ioannis Vizirianakis</b> (Department of
                                Pharmacognosy/Pharmacology, School of Pharmacy, AUTh) for giving us
                                permission to work in their laboratory and for their valuable
                                advice on project related issues.
                            </li>
                        </ul>
                    </p>
                    <h3>Advisors</h3>
                    <p>
                        <ul>
                            <li>
                                <b>Androulla Miliotou</b>, (AUTh), for teaching us some basic
                                laboratory techniques (e.g. agarose gel electrophoresis, PCR
                                reaction, plating). She also provided us with the INVαF’ and C43
                                (DE3) E. Coli strains.
                            </li>
                            <li>
                                <b>Stefanos Tsiftsoglou</b>, PhD, for his advice on our
                                presentation and wiki structure.
                            </li>
                            <li>
                                <b>Maxim Gavriilidis</b>, (AUTh) for his advice on laboratory
                                procedures.
                            </li>
                            <li>
                                <b>Ilias Dimitriadis</b>, for his help on the sensitivity analysis
                                of our models.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </q-page>
    </igem-layout>
    <%- include('templates/layout-footer'); %>
    <script src="http://2018.igem.org/wiki/index.php?title=Template:Thessaloniki/tweenlite.js&action=raw&ctype=text/javascript"></script>
    <script>
        iGEM.registerHook('loadHook', async function ([Vue, store]) {
            store.commit('setPage', 'team')
            await iGEM.loadComponent(iGEM.links.MemberCard)
        })
    </script>
    <script>
        iGEM.data = {
            members: [{
                    fullname: 'Yvoni Giannoula',
                    photo: 'http://2018.igem.org/wiki/images/thumb/3/30/T--Thessaloniki--member--yvonni-g.png/480px-T--Thessaloniki--member--yvonni-g.png.jpeg',
                    role: 'Team Leader and Wet Lab',
                    quote: '',
                    department: 'Department of Pharmacy - AUTH',
                    body: 'Team Leader and Wet Lab - Department of Pharmacy - AUTH',
                },
                {
                    fullname: 'Yvonni Xesfiggi',
                    photo: 'http://2018.igem.org/wiki/images/thumb/8/83/T--Thessaloniki--member--yvonni-x.png/480px-T--Thessaloniki--member--yvonni-x.png.jpeg',
                    role: 'Dry Lab and Human Practices',
                    quote: '',
                    department: 'Department of Chemical Engineers - AUTH',
                    body: 'Dry Lab and Human Practices - Department of Chemical Engineers - AUTH',
                },
                {
                    fullname: 'Pantelis Kiriakidis',
                    photo: 'http://2018.igem.org/wiki/images/thumb/3/39/T--Thessaloniki--member--pantelis.png/480px-T--Thessaloniki--member--pantelis.png.jpeg',
                    role: 'Dry Lab and Social Media',
                    quote: '',
                    department: 'Department of Computer Science - AUTH',
                    body: 'Dry Lab and Social Media - Department of Computer Science - AUTH',
                },
                {
                    fullname: 'Panagiotis Karatakis',
                    photo: 'http://2018.igem.org/wiki/images/thumb/c/c4/T--Thessaloniki--member--panagiotis.png/480px-T--Thessaloniki--member--panagiotis.png.jpeg',
                    role: 'Dry Lab and Web Developer',
                    quote: '',
                    department: 'Department of Computer Science - AUTH',
                    body: 'Dry Lab and Web Developer - Department of Computer Science - AUTH',
                },
                {
                    fullname: 'Alexandros Giannopoulos Dimitriou',
                    photo: 'http://2018.igem.org/wiki/images/thumb/7/7d/T--Thessaloniki--member--alexander.png/480px-T--Thessaloniki--member--alexander.png.jpeg',
                    role: 'Wet Lab',
                    quote: '',
                    department: 'Department of Pharmacy - AUTH',
                    body: 'Wet Lab - Department of Pharmacy - AUTH',
                },
                {
                    fullname: 'Grigorios Kyrpizidis',
                    photo: 'http://2018.igem.org/wiki/images/thumb/5/5a/T--Thessaloniki--member--gregory.png/480px-T--Thessaloniki--member--gregory.png.jpeg',
                    role: 'Wet Lab',
                    quote: '',
                    department: 'Department of Biology - AUTH',
                    body: 'Wet Lab - Department of Biology - AUTH',
                },
                {
                    fullname: 'Ioannis Alexopoulos',
                    photo: 'http://2018.igem.org/wiki/images/thumb/5/5d/T--Thessaloniki--member--john.png/480px-T--Thessaloniki--member--john.png.jpeg',
                    role: 'Wet Lab',
                    quote: '',
                    department: 'Department of Biology - AUTH',
                    body: 'Wet Lab - Department of Biology - AUTH',
                }
            ]
        }
    </script>
    <%- include('templates/footer'); %>
</body>

</html>