<!DOCTYPE html>
<html>
  <body>
        <%- include('templates/header'); %>
        <%- include('templates/layout-header'); %>

        <%- include('templates/layout-footer'); %>
        <%- include('templates/footer'); %>
  </body>
</html>
