<div id="q-app" style="margin-top: 16px">
    <transition leave-active-class="animated fadeOut">
        <div id="loader" v-if="!loaded">
            <div id="circle">
                <div id="curve-one">
                    <div class="left-bottom-curve"></div>
                    <div class="right-top-curve"></div>
                    <div class="right-bottom-curve"></div>
                    <div class="left-top-curve"></div>
                </div>

                <div id="curve-two">
                    <div class="right-bottom-curve"></div>
                    <div class="left-top-curve"></div>
                    <div class="left-bottom-curve"></div>
                    <div class="right-top-curve"></div>
                </div>

                <div>
                    <div class="strand strandA"></div>
                    <div class="strand strandB"></div>
                    <div class="strand strandC"></div>
                    <div class="strand strandD"></div>
                    <div class="strand strandE"></div>
                </div>
            </div>
        </div>
    </transition>
    <q-layout view="lHh Lpr fff" v-show="loaded">
        <div class="fixed-top-left" style="margin-top: 16px; z-index: 10;">
            <q-btn flat dense size="lg" style="background-color: #ff8a22" @click="drawerState = !drawerState" icon="menu" aria-label="Menu"></q-btn>
        </div>
        <!-- <q-layout-header style="margin-top: 16px" class="no-shadow"> -->
            <!-- <q-toolbar shrink> -->

                <!-- TODO -->
                <!-- <q-toolbar-title>
                    iGEM Thessaloniki
                    <div slot="subtitle">Hello Sun :D</div>
                </q-toolbar-title> -->
            <!-- </q-toolbar> -->
        <!-- </q-layout-header> -->

        <q-layout-drawer v-model="drawerState" behavior="mobile">
            <q-list no-border link inset-delimiter>
                <q-list-header>
                    <img class=" responsive-image" src="http://2018.igem.org/wiki/images/4/40/T--Thessaloniki--team-logo.png">
                </q-list-header>

                <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki')">
                    <q-item-side icon="home"></q-item-side>
                    <q-item-main label="Home" sublabel="Our Project homepage"></q-item-main>
                </q-item>

                <q-collapsible icon="people_outline" label="Team">
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Team')">
                        <q-item-side icon="people"></q-item-side>
                        <q-item-main label="Team Members"></q-item-main>
                    </q-item>
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Collaborations')">
                        <q-item-side icon="account_balance"></q-item-side>
                        <q-item-main label="Collaborations"></q-item-main>
                    </q-item>
                </q-collapsible>

                <q-collapsible icon="build" label="Project">
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Description')">
                        <q-item-side icon="info"></q-item-side>
                        <q-item-main label="Description"></q-item-main>
                    </q-item>
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Design')">
                        <q-item-side icon="create"></q-item-side>
                        <q-item-main label="Design"></q-item-main>
                    </q-item>
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Experiments')">
                        <q-item-side icon="colorize"></q-item-side>
                        <q-item-main label="Experiments"></q-item-main>
                    </q-item>
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Notebook')">
                        <q-item-side icon="notes"></q-item-side>
                        <q-item-main label="Notebook"></q-item-main>
                    </q-item>
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/InterLab')">
                        <q-item-side icon="sync"></q-item-side>
                        <q-item-main label="InterLab"></q-item-main>
                    </q-item>
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Model')">
                        <q-item-side icon="poll"></q-item-side>
                        <q-item-main label="Model"></q-item-main>
                    </q-item>
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Results')">
                        <q-item-side icon="show_charts"></q-item-side>
                        <q-item-main label="Results"></q-item-main>
                    </q-item>
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Demonstrate')">
                        <q-item-side icon="looks"></q-item-side>
                        <q-item-main label="Demonstrate"></q-item-main>
                    </q-item>
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Improve')">
                        <q-item-side icon="plus_one"></q-item-side>
                        <q-item-main label="Improve"></q-item-main>
                    </q-item>
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Attributions')">
                        <q-item-side icon="people"></q-item-side>
                        <q-item-main label="Attributions"></q-item-main>
                    </q-item>
                </q-collapsible>

                <q-collapsible icon="extensions" label="Parts">
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Parts')">
                        <q-item-side icon="info"></q-item-side>
                        <q-item-main label="Parts Overview"></q-item-main>
                    </q-item>
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Basic_Part')">
                        <q-item-side icon="apps"></q-item-side>
                        <q-item-main label="Basic Parts"></q-item-main>
                    </q-item>
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Composite_Part')">
                        <q-item-side icon="grid_on"></q-item-side>
                        <q-item-main label="Composite Parts"></q-item-main>
                    </q-item>
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Part_Collection')">
                        <q-item-side icon="collections"></q-item-side>
                        <q-item-main label="Part Collection"></q-item-main>
                    </q-item>
                </q-collapsible>

                <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Safety')">
                    <q-item-side icon="verified_user"></q-item-side>
                    <q-item-main label="Safety"></q-item-main>
                </q-item>

                <q-collapsible icon="people" label="Human Practices">
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Human_Practices')">
                        <q-item-side icon="people_outline"></q-item-side>
                        <q-item-main label="Human Practices"></q-item-main>
                    </q-item>
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Public_Engagement')">
                        <q-item-side icon="nature_people"></q-item-side>
                        <q-item-main label="Public Engagement"></q-item-main>
                    </q-item>
                </q-collapsible>

                <q-collapsible icon="star" label="Awards">
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Applied_Design')">
                        <q-item-side icon="settings_applications"></q-item-side>
                        <q-item-main label="Applied Design"></q-item-main>
                    </q-item>
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Entrepreneurship')">
                        <q-item-side icon="monetization_on"></q-item-side>
                        <q-item-main label="Entrepreneurship"></q-item-main>
                    </q-item>
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Hardware')">
                        <q-item-side icon="memory"></q-item-side>
                        <q-item-main label="Hardware"></q-item-main>
                    </q-item>
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Measurement')">
                        <q-item-side icon="bar_chart"></q-item-side>
                        <q-item-main label="Measurement"></q-item-main>
                    </q-item>
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Model')">
                        <q-item-side icon="poll"></q-item-side>
                        <q-item-main label="Model"></q-item-main>
                    </q-item>
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Plant')">
                        <q-item-side icon="edit"></q-item-side>
                        <q-item-main label="Plant"></q-item-main>
                    </q-item>
                    <q-item link @click.native="launch('http://2018.igem.org/Team:Thessaloniki/Software')">
                        <q-item-side icon="code"></q-item-side>
                        <q-item-main label="Software"></q-item-main>
                    </q-item>
                </q-collapsible>

                <q-item link @click.native="launch('http://igem.org/2018_Judging_Form?team=Thessaloniki')">
                    <q-item-side icon="call_made"></q-item-side>
                    <q-item-main label="Judging Form"></q-item-main>
                </q-item>

                <q-item>
                    <q-select style="width: 100%" v-model="colorMode" float-label="Color Mode" radio :options="colorModes">
                    </q-select>
                </q-item>
            </q-list>
        </q-layout-drawer>

        <q-page-container :class="[rM('bg-indigo-1', 'gradient')]">