<div id="q-app" style="margin-top: 16px">
        <transition leave-active-class="animated fadeOut">
            <div id="loader" v-if="!loaded">
                <div id="circle">
                    <div id="curve-one">
                        <div class="left-bottom-curve"></div>
                        <div class="right-top-curve"></div>
                        <div class="right-bottom-curve"></div>
                        <div class="left-top-curve"></div>
                    </div>

                    <div id="curve-two">
                        <div class="right-bottom-curve"></div>
                        <div class="left-top-curve"></div>
                        <div class="left-bottom-curve"></div>
                        <div class="right-top-curve"></div>
                    </div>

                    <div>
                        <div class="strand strandA"></div>
                        <div class="strand strandB"></div>
                        <div class="strand strandC"></div>
                        <div class="strand strandD"></div>
                        <div class="strand strandE"></div>
                    </div>
                </div>
            </div>
        </transition>