#home_logo,
#sideMenu {
    display: none;
}

#content {
    width: auto;
    padding: 0px;
    margin: 0px;
}

#sideMenu,
#top_title,
.patrollink {
    display: none;
}

body {
    background-color: white;
    font: unset;
}

#HQ_page h1,
#HQ_page h2,
#HQ_page h3,
#HQ_page h4,
#HQ_page h5 {
    color: unset;
    font-family: unset;
    margin-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

#HQ_page p {
    color: unset;
    font-size: unset;
    font-family: unset;
}

#HQ_page {
    color:unset;
}

#content {
    color: unset;
    line-height: unset;
}

#bodyContent {
    color: unset;
}

.judges-will-not-evaluate {
    border: 4px solid #e4dede;
    padding: 2% !important;
    width: 92% !important;
}

#globalWrapper {
    font-size: unset;
    padding-bottom: 0px;
    height: 100vh;
}

#top_menu_under {
    height: 1px;
}