#home_logo,
#sideMenu {
    display: none;
}

#content {
    width: auto;
    padding: 0px;
    margin: 0px;
}

#sideMenu,
#top_title,
.patrollink {
    display: none;
}

body {
    background-color: white;
}

#bodyContent h1,
#bodyContent h2,
#bodyContent h3,
#bodyContent h4,
#bodyContent h5 {
    margin-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

.judges-will-not-evaluate {
    border: 4px solid #e4dede;
    padding: 2% !important;
    width: 92% !important;
}